@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #737373;
}


.thousands, .hundreds, .tens, .ones {
    border: gray solid 2px;
    margin: 10px;
    background-color: #292929;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 60px;
    color: #00ff1e;
}

.clock {
    border: gray solid 2px;
    margin: 10px;
    background-color: #292929;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 60px;
    color: white;
}